<div style="text-align: right"> Starter File </div>

## Week 3 Lesson starter file

#### Examples of using .groupby on pandas DataFrame data with bar and pie charts

### See video lesson:  
https://www.youtube.com/watch?v=UzZn_9c89LI&list=PL66uKvacDNIfFjQR8mu4M-dv_gQphK5qg&index=6

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('seaborn-colorblind')

path = 'titanic.csv'
raw=pd.read_csv(path)

# taking a subset of the data.  We could now make simple scatter plots of one column vs another as shown previously
data=raw.loc[:,['Survived', 'Pclass','Sex','Age','Fare']]
data.head(8)

Basic format for finding average:  
By **one** column:      `data.groupby().mean()`  
By **two** columns:     `data.groupby().mean().unstack()`  
By ***three*** columns: `data.groupby().mean().unstack().unstack()`  
etc...

Basic format for counting numbers:  
By **one** column:      `data.groupby().count()`  
By **two** columns:     `data.groupby().count().unstack()`  
By ***three*** columns: `data.groupby().count().unstack().unstack()`  
etc...

1. What is the average ticket price paid by those that died vs survived? Present a bar graph.

2. What is the average age of male and female passengers in 1st, 2nd, and 3rd class? Present a grouped bar chart.

What is the number of male and female passengers vs ticket class that died vs survived? Present a grouped bar chart.